{% extends 'base.html' %}

{% load static %}

{% block css %}
  {% block custom-css %}
  {% endblock %}
{% endblock css %}

{% block content %}
<main class="flex-1 overflow-y-auto p-4">
  <div class="w-full">
    {% block custom-content %}

    {% endblock custom-content %}
  </div>
</main>
{% endblock content %}

{% block scripts %}
<script src="{% static 'django_airavata_workspace/wc/adpf.chunk-vendors.js' %}"></script>
<script src="{% static 'django_airavata_workspace/wc/adpf.min.js' %}"></script>
  {% block custom-scripts %}
  {% endblock custom-scripts %}
{% endblock scripts %}
