Django==5.2.15
requests==2.25.1
requests-oauthlib==0.7.0
django-webpack-loader==0.6.0
PyJWT==2.13.0
papermill==1.0.1
nbconvert==7.17.1
grpcio>=1.60.0
protobuf>=5.26.0,<7.0.0
googleapis-common-protos>=1.62.0
-e "."
