
{% extends 'base.html' %}

{% load static %}
{% load render_bundle get_files from webpack_loader %}

{% block css %}
{% render_bundle bundle_name 'css' 'DATAPARSERS' %}
{% endblock %}

{% block content %}
<div id="{{ bundle_name }}"/>
{% endblock content %}

{% block scripts %}
{% comment %} Vite emits an ES module bundle per page entry; load it as
type="module" so its shared-chunk imports resolve. {% endcomment %}
{% get_files bundle_name 'js' 'DATAPARSERS' as bundle_js %}
{% for f in bundle_js %}<script type="module" src="{{ f.url }}"></script>
{% endfor %}
{% endblock %}
